h1 {
	color:blue;
	font-family: 'Helvetica';
}
button {
	color: green;
	background: rgba(227, 227, 22 ,1u)
}

body

 {
	background-color: rgba(75, 174, 240, 1);
}

.cuteduckpic {
	width:100%;
	height:700px;
	background-image:url("images/yellowduck.jpg");
	background-size:cover;

}
