h1 {
	color:blue;
	font-family: 'Helvetica';
}
button.navbar-toggle {color: green;
						background: rgba(227, 227, 22 ,5)}

.cuteduckpic img{
	height: 500px
	width:1330px;
}
body {background: rgba(75, 174, 240, 1);}
